project1_env
notebooks/.ipynb_checkpoints/20190906-OLS-Franke-checkpoint.ipynb
notebooks/.ipynb_checkpoints/20190906-testing-checkpoint.ipynb
notebooks/.ipynb_checkpoints/20190907-introducing-terrain-data-checkpoint.ipynb
notebooks/.ipynb_checkpoints/20190905-visualizing-franke-checkpoint.ipynb
notebooks/.ipynb_checkpoints/20190918-Resampling-OLS-Franke-checkpoint.ipynb
notebooks/.ipynb_checkpoints/20190920-Generating-Franke-data-checkpoint.ipynb
notebooks/.ipynb_checkpoints/20190905-visualizing-franke-checkpoint.ipynb
reports/.DS_Store
reports/report.aux
reports/report.fdb_latexmk
reports/report.fls
reports/report.log
reports/report.synctex.gz
reports/report.tex
src/__pycache__/
src/data/__pycache__/
src/features/__pycache__/
